/* .welcomeBanner {
    background-image: url('./assets/pexels-hitarth-jadhav-220357.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

} */

#about {
  margin-top: 20px;
}

#about p {
  text-align: left;
  font-size: 14px;
}

hr#about {
  /* display: none; */
  color: var(--charcoal);
}

.profilePic {
  height: 85%;
  width: 85%;
  max-height: 375px;
  max-width: 375px;

  background: var(--bs-dark);
  border-radius: 50%;
}

#resume {
  background-color: rgba(255, 255, 255, 0.5);
}

#resume .resume-para {
  text-align: center;
  margin-bottom: 0;
  padding: 5px;
}

#resume img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 10px;
}
