body {
    align-content: center;
    background: var(--charcoal);
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-one);

}

p {
    font-family: var(--font-two);
}

.section-padding {
    margin-top: 275px;
    padding-top: 120px;
    padding-bottom: 120px;
}

p a {
    color: var(--hyperlink);
}

p a:visited {
    color: var(--hyperlink-visited);
}

