
.card-img-top {
    min-width: 160px;
    max-width: 250px;
}

.card-body{
    color: var(--dkcharcoal);
}

.card-header {
    color: var(--dkcharcoal);
    font-size: 14px;
    font-weight: bold;
}

.card-title {
    font-size: 13px;
    font-style:italic;
    font-weight: bold;
    margin-top: 1px;
}

.card-text {
    font-size: 11px;
}


.card img {
    margin: auto;
    width: 50%;
    padding: 10px;
}