footer {
    color: white;
    font-size: 9px;
    padding: 15px;
    text-transform: uppercase;
}

footer p {
    margin: 0;
}

footer p a {
    color: white;
}

footer p a:visited{
    color: palevioletred;
}