footer {
    color: white;
    font-size: 9px;
    padding: 15px;
    text-transform: uppercase;
}

footer p {
    margin: 0;
}

footer p a {
    color: var(--hyperlink);
}

footer p a:visited{
    color: palevioletred;
}

a#footer-github, a#footer-linkedin {
    text-decoration: none;
    font-size: 36px;
    color: white;
}

p#privacy-link a {
    color: var(--hyperlink);
}

p#privacy-link a:visited {
    color: var(--hyperlink-visited);
}