.cropped {
    margin: -275px 0px -75px -75px;
    /* top | right | bottom | left */
}

.landing {
    max-width: 100%;
    /*max-height: 1200px;*/
    z-index:auto;
    margin: 0px;
    margin-top: -5px;
}

.landing-text {
    margin-top: -750px;
    background: rgba(102, 102, 102, 0.8);
    padding: 10px;
}

.landing-text h1 {
    font-family: var(--font-one);
    font-size: 69px;
    text-align: center;
}

.landing-text h3 {
    font-family: var(--font-two);
    font-size: 40px;
    text-align: center;
}
