.navbar {
    position: sticky;
    top: 0;
    /* width: 100%; */
    /* z-index: 1; */
}

#content {
    background-color: var(--charcoal);
  }

.navbar-brand {
    font-family: var(--font-two);
}

.navbar-brand img {
    width: 44px;
}

.navbar-nav {
    margin-left: auto; /*tells element to move elements to the right*/
}

nav a {
    font-size: 9px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

#initials {
    padding: 5px;
    border: 2px solid white;
}