#portfolio {
  margin-top: 25px;
}

#portfolio a {
  text-decoration: none;
}

.portfolio {
  width: 100%;
  min-width: 250px;
  max-width: 290px;
}
.portfolio .card img {
  max-width: 200px;
  height: auto;
}

#portfolioProgramming,
#portfolioDesign {
  padding-top: 15px;
}

.modal-header,
.modal-body,
.modal-footer {
  color: black;
}

.modal-header h5 {
  padding: 0;
}

.modal-body {
  text-decoration: none;
}

.modal-body p {
  font-family: var(--font-one);
  font-size: 15px;
}

.modal-body p span {
  color: var(--charcoal);
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
