#skills {
    text-decoration: none;
    font-size: 66px;
    color: white;
    margin-top: 25px;
}

#skills h3 {
    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
    vertical-align:middle;
}

#skills i {
    margin: 5px;
}

.skills-icon {
    width: 66px;
}