hr#skills {
    height: 45px;
    background-color: transparent;
}

.skillSection {
    text-decoration: none;
    font-size: 66px;
    color: white;
    margin-top: 25px;
}

/* #skills h3 {
    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
    vertical-align:middle;
} */

.skillSection i {
    margin: 5px;
}

.skillSection img {
    margin: 5px;
    width: 66px;
}